<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454237222673-ag93ujno7bc8hr66tqr2fikn43764qsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454237222673-ag93ujno7bc8hr66tqr2fikn43764qsk</string>
	<key>API_KEY</key>
	<string>AIzaSyDkhT8OB5pv2vA80jXqb68XPInVyTf5IYs</string>
	<key>GCM_SENDER_ID</key>
	<string>454237222673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fdam</string>
	<key>PROJECT_ID</key>
	<string>fdam-e699b</string>
	<key>STORAGE_BUCKET</key>
	<string>fdam-e699b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454237222673:ios:f126befc9391d2a0ec7eb0</string>
</dict>
</plist>